@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&family=Questrial&display=swap');

$bg-navy: #141f45;
$bg-dark: #000517;
$bg-input: #1b1a38;

$white: #ffffff;
$black: #000000;
$primary: #6788ff;
$error: #cf6679;
$gray: #a1a1a1;

$font-family-heading: 'Quattrocento', serif;
$font-family-body: 'Questrial', sans-serif;
